body {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background: #fff;
    @media (max-width: 767px) {
        background: #070;
    }
}

/* navbar */
.navbar-inverse {
    border-bottom: 4px solid #ddd;
    .navbar-brand {
        color: #eee;
    }
    .navbar-nav > li >a {
        color: #eee;
    }
}
/* バリデーション用 */
.warning-list {
    padding: 15px 15px 5px;
}
/* kanban */
.all-kanban {
    padding: 25px 15px 5px;
    background: #070;
    border-radius: 5px;
    /* inline-blockの微妙なズレをなくす */
    font-size: 0;
    @media (max-width: 767px) {
        border-radius: 0px;
    }
    
    .lint-add-info {
        font-size: 14px;
        line-height: 2.0;
    }
    .list-title {
        max-width: 280px;
    }
    @media (min-width: 768px) {
        .col-inline-box {
        /* 高さを揃えるように横並びにするため */
            display: inline-block;
            float: none;
            vertical-align: top;
        }
    }
}
.each-kanban {
    border: 1px solid #EEE;
    .panel-heading {
        font-size: 16px;
        
    }
    .link-area {
        float: right;
        margin-top: -25px;
        a {
            color: #ddd;
            margin-left: 3px;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .all-card {
        .add-card {
            margin-bottom: 10px;
        }
    }
    .card-title {
        color: #000;
        background: #eee;
        .fa-bars {
            padding: 6px 0;
            font-size: 14px;
        }
        &:hover {
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
        }
        &.collapsed {
            background: #ddd;
        }
    }
    .card-memo {
        color: #000;
        font-size: 14px;
        .card-edit {
            margin-top: 5px;
        }
    }
}